backtrader              
kagglehub               
narwhals               
numpy                   
pandas                  
plotly                  
scikit-learn            
ta                      
ipykernel